.ruby-gemset
.bundle
db/*.sqlite3
log/*
tmp/*
nbproject/*
config/database.yml
config/payment.yml
config/sphinx.yml
config/setting.yml
config/*.sphinx.conf
public/system/*
public/cache/*
public/javascripts/uu.js
public/stylesheets/uu.css
public/cache/*
public/assets/*
public/zgc_pics/*
public/index.html
db/sphinx/*/*
public/ec/*
public/channel/*
public/products/*
config/initializers/imgkit.rb
*.swp
tags
Gemfile.lock
vendor/cache
.DS_Store
db/schema.rb
vendor/plugins/jd/jd.log
jd.log
solr/*
*.test
.bundle
db/*.sqlite3
log/*
sync.zh
sync_temp.zh
*.log
tmp/*
nbproject/*
config/database.yml
config/initializers/secret_settings.rb
config/sunspot.yml
public/system/*
public/downloads/*
public/tmp/*
public/cache/*
public/assets/*
public/about/*
public/uploads/*
public/qrcodes/*
public/sitemap*
public/join_us.html
public/pic/*
extracts/*.html
*.swp
cpp*
vendor/cache
.DS_Store
db/schema.rb
Gemfile.lock
solr/data/
solr/pids/
.sass-cache/
.idea/*
.idea/
repe*
vendor/bundle/
zh.god
base_params.rb
.ruby-version
