<!-- 滚动大图 -->
<div id="slider-container">
  <div class="container">
    <div class="sixteen columns">
      <div class="main-slider-container" style="margin-top: 94px;">
        <section class="slider">
          <div class="flexslider" id="fruitful-slider-205">
            <ul class="slides">
              <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                <a href="http://themes.fruitfulcode.com/fruitful/features/"><img src="/assets/slide-new.png" style="max-height: 762px;" draggable="false"></a>
              </li>
              <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                <a href="http://themes.fruitfulcode.com/fruitful/features/"><img src="/assets/slide2-new.png" style="max-height: 762px;" draggable="false"></a>
              </li>
              <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                <img src="/assets/slide3-new1.png" style="max-height: 762px;" draggable="false">
              </li>
            </ul>
            <ol class="flex-control-nav flex-control-paging">
              <li>
                <a class="">1</a>
              </li>
              <li>
                <a class="">2</a>
              </li>
              <li>
                <a class="flex-active">3</a>
              </li>
            </ol>
            <ul class="flex-direction-nav">
              <li class="flex-nav-prev">
                <a class="flex-prev" href="http://themes.fruitfulcode.com/fruitful/#">Previous</a>
              </li>
              <li class="flex-nav-next">
                <a class="flex-next" href="http://themes.fruitfulcode.com/fruitful/#">Next</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div><!-- 滚动大图END -->
<!-- 中间文字 -->
<div id="page" class="page-container">
  <div class="container">
    <div class="sixteen columns">
      <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
          <article id="post-701" class="post-701 page type-page status-publish hentry">

          </article>
          <div class="entry-content">
            <div class="fruitful_description_box">
              <div class="fruitful_description shadow-type-1" id="desc-box-73">
                <div class="text" style="font-size: 40px; text-transform : uppercase; text-align: center; font-weight: 300; line-height: 1.2;">
                  <span style="color: #333333;">HELLO, WORLD! THIS IS&nbsp;</span><span class="text_orange" style="color: #ff5d2a;">FRUITFUL&nbsp;</span><span style="color: #333333;">FREE WORDPRESS RESPONSIVE&nbsp;THEME</span>&nbsp;
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="info-box-row clearfix" id="info-box-row-45">
              <div id="info-box-38" class=" ffs-three-one ffs-info-box center">
                <div class="ffs-icon-box">
                  <img class="icon" src="/assets/img_title_1.png" title="SIMPLE DESIGN" alt="">
                </div>
                <div class="ffs-content-box">
                  <div class="infobox-title" style="text-align:center; font-size:20px; text-transform: uppercase;">
                    SIMPLE DESIGN
                  </div>
                  <div class="infobox-text" style="text-align:center; font-size:13px;">
                    We designed and developed simple wordpress theme with useful theme options panel. We leave light styles for more easy and comfortable customizations.
                  </div>
                </div>
              </div>
              <div id="info-box-16" class=" ffs-three-one ffs-info-box center">
                <div class="ffs-icon-box">
                  <img class="icon" src="/assets/img_title_2.png" title="THEME OPTIONS" alt="">
                </div>
                <div class="ffs-content-box">
                  <div class="infobox-title" style="text-align:center; font-size:20px; text-transform: uppercase;">
                    THEME OPTIONS
                  </div>
                  <div class="infobox-text" style="text-align:center; font-size:13px;">
                    In theme options you can choose layout type, upload logo, background, favicon, choose fonts, change color for menu, upload images to slider and much more.
                  </div>
                </div>
              </div>
              <div id="info-box-14" class=" ffs-three-one ffs-info-box center last">
                <div class="ffs-icon-box">
                  <img class="icon" src="/assets/img_title_3.png" title="2 TYPE OF LAYOUT" alt="">
                </div>
                <div class="ffs-content-box">
                  <div class="infobox-title" style="text-align:center; font-size:20px; text-transform: uppercase;">
                    2 TYPE OF LAYOUT
                  </div>
                  <div class="infobox-text" style="text-align:center; font-size:13px;">
                    Theme supported 2 types of html layout. Default responsive setting which adapt for mobile devices and static page with fixed width.
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 中间文字END -->
