<div class="container">   
  <div class="sixteen columns">
    <div class="eleven columns alpha">
      <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
          <!-- 文章开始 -->
          <article class="blog_post hentry">
            <div class="date_of_post updated">
              <span class="day_post"><%= Date.today.day %></span>
              <span class="month_post"><%= Date.today.month %>月</span>
            </div>
        
            <div class="post-content">  
              <header class="post-header">
                <h2 class="post-title entry-title">
                  张菡筱应援网成立
                </h2>
              </header>

              <div class="entry-content">
                <ul>
                  <li>这里提供张菡筱的介绍，行程，音乐，视频，周边等</li>
                </ul>
              </div>

            </div>
          </article>
        </div><!-- #content .site-content -->
      </div><!-- #primary .content-area -->
    </div>
      
    <div class="five columns omega">
      <div id="secondary" class="widget-area" role="complementary">
        <aside id="text-6" class="widget widget_text">
          <h3 class="widget-title">关于我们</h3>      
          <div class="textwidget">
            <a target="_blank" href="http://codecanyon.net/?ref=fruitfulcode">
              <img alt="" src="http://fruitfulcode.com/wp-content/uploads/2013/10/cc_260x120_v2.gif">
            </a>
          </div>
        </aside>    
      </div><!-- #secondary .widget-area -->
    </div>
  </div>
</div>